.button a {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	border-radius: 100vh;
	transition: 0.5s;
}
.button a:hover {
	color: #fff;
	background: #71d6f8;
}
h1{
  text-align: center;
  padding-top:10%;
}
