h1 {
    padding: 1rem 2rem;
    border-left: 4px solid #000;
  }

  .back a {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	border-radius: 100vh;
	transition: 0.5s;
}

.back a:hover {
	color: #fff;
	background: #71d6f8;
}

.box {
	
	width: 80%;
	/* margin: 40px 3%; */
    text-align: center;
    padding-left: 100px;
    
}
.box input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	padding:30px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
    
}



.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 18px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #ff7f7f;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #ff7f7f;
  }
  .button:hover {
    color         : #ffffff;     /* 背景色     */
    background    : #ff7f7f;     /* 文字色     */
    border        : 2px solid #ffffff;
  }
 
  .touroku{
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
  }
 